@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Kanit:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Kanit", sans-serif; }
  .container-S {
    width: 100%;
    background: url(../img/main-slider/58183300-fondo-transparente-dibujado-a-mano-doodle-de-verduras-iconos-conjunto-ilustración-vectorial-de-temporad.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out 0s; }
    .container-S .color {
      background-color: #00000094; }
    .container-S-menu {
      margin: 0 auto;
      width: 95%;
      display: flex;
      flex-direction: column; }
      .container-S-menu header {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .container-S-menu header .img {
          width: 170px;
          height: 110px;
          padding: 0;
          background: url(../img/logo.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat; }
        .container-S-menu header ul {
          display: flex;
          align-items: center;
          gap: 20px; }
          .container-S-menu header ul li {
            display: flex; }
            .container-S-menu header ul li a {
              text-decoration: none;
              color: #fff;
              font-size: 15px;
              font-weight: 700; }
            .container-S-menu header ul li a:hover {
              color: #5ec79c; }
        .container-S-menu header span {
          display: none;
          font-size: 30px;
          color: #fff;
          align-items: center;
          padding: 10px;
          height: 30px;
          background: #5ec79c;
          border-radius: 10px;
          border: 2px solid #5ec79c;
          transition: all 0.2s ease-out 0s; }
        .container-S-menu header span:hover {
          background: none; }
      .container-S-menu div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 170px 0; }
        .container-S-menu div img {
          width: 64px;
          height: auto; }
        .container-S-menu div h1 {
          font-family: "Dancing Script", cursive;
          font-weight: 700;
          font-size: 43px;
          color: #fff; }
        .container-S-menu div div {
          display: flex;
          gap: 1%;
          padding: 10px 0;
          flex-direction: row;
          justify-content: center;
          font-family: "Kanit", sans-serif; }
          .container-S-menu div div a:nth-child(2) {
            text-decoration: none;
            padding: 8px 30px;
            color: #fff;
            font-size: 15px;
            background: #f5b062;
            border-radius: 25px;
            font-weight: 700;
            border: 2px solid #f5b062;
            transition: all 0.2s ease-out 0s; }
          .container-S-menu div div a:nth-child(2):hover {
            background: none;
            color: #f5b062; }
          .container-S-menu div div a:nth-child(3) {
            background: none;
            border: 2px solid #fff;
            color: #fff;
            padding: 8px 30px;
            text-decoration: none;
            font-size: 15px;
            border-radius: 25px;
            font-weight: 700;
            transition: all 0.2s ease-out 0s; }
          .container-S-menu div div a:nth-child(3):hover {
            color: #f5b062;
            background: #fff; }
          .container-S-menu div div span {
            cursor: pointer;
            display: flex;
            padding: 8px 8px;
            border-radius: 50%;
            color: #fff;
            background-color: #5ec79c;
            border: 2px solid #5ec79c; }
          .container-S-menu div div span:hover {
            background: none;
            color: #5ec79c; }
      .container-S-menu .top-md:hover .btn {
        display: flex; }
  .container-I {
    width: 100%; }
    .container-I .color-I {
      width: 100%;
      background-color: #c1c1c194; }
    .container-I-If {
      padding: 110px 0px 70px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 80%;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .container-I-If .container-logo {
        width: 100%; }
        .container-I-If .container-logo h1 {
          font-family: "Dancing Script", cursive;
          font-size: 30px;
          padding: 5px 0; }
        .container-I-If .container-logo div {
          margin: 0 auto;
          width: 50px;
          height: 3px;
          background: #5ec79c;
          border-radius: 25px; }
      .container-I-If .container-img {
        padding: 50px 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .container-I-If .container-img div {
          width: 359px;
          padding-bottom: 10px; }
          .container-I-If .container-img div .color-fondo {
            background: #000;
            height: 151px;
            width: 151px;
            filter: blur(10px);
            position: relative;
            z-index: -1; }
          .container-I-If .container-img div .img-regiones {
            background: url(../img/regiones/costa.jpg);
            background-position: center;
            background-size: cover;
            margin: 0 auto;
            width: 150px;
            height: 150px;
            z-index: 10;
            border-radius: 25px; }
          .container-I-If .container-img div .img-sierra {
            background: url(../img/regiones/cierra.jpg); }
          .container-I-If .container-img div .img-selva {
            background: url(../img/regiones/selva.jpg); }
          .container-I-If .container-img div h1 {
            font-size: 25px;
            font-weight: 300; }
          .container-I-If .container-img div a {
            text-decoration: none;
            color: #000; }
          .container-I-If .container-img div p {
            padding: 10px 0px 10px;
            font-size: 15px; }
          .container-I-If .container-img div a:hover {
            color: #5ec79c; }
  .container-F {
    width: 100%;
    background: #333333; }
    .container-F .color-Footer {
      padding: 100px 0;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 7px;
      justify-content: center; }
      .container-F .color-Footer div {
        padding: 10px 0px;
        width: 400px;
        display: flex;
        flex-direction: column; }
        .container-F .color-Footer div h1 {
          font-size: 16px;
          color: #fff;
          margin-bottom: 20px; }
        .container-F .color-Footer div p {
          font-weight: 300;
          color: #fff;
          margin-bottom: 20px; }
        .container-F .color-Footer div div {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center; }
          .container-F .color-Footer div div p {
            width: 80%;
            margin: 0; }
            .container-F .color-Footer div div p input {
              padding: 12.5px 10% 12.5px 20px;
              background: #00000030;
              border: none;
              width: 100%;
              font-family: "Kanit", sans-serif;
              color: #fff; }
          .container-F .color-Footer div div a {
            padding: 10.5px 20px 10.5px 20px;
            color: #fff;
            text-decoration: none;
            background-color: #5ec79c; }
        .container-F .color-Footer div .social-F {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          gap: 20px; }
          .container-F .color-Footer div .social-F span {
            cursor: pointer;
            border-radius: 50%;
            background: #f5b062;
            color: #fff;
            font-size: 20px;
            padding: 10px 10px;
            border: 2px solid #f5b062;
            transition: all 0.2s ease-out 0s; }
          .container-F .color-Footer div .social-F span:hover {
            background: none;
            color: #f5b062; }
      .container-F .color-Footer .img-F {
        display: flex;
        justify-content: center;
        align-items: center; }
        .container-F .color-Footer .img-F img {
          width: 250px !important;
          height: auto; }
      .container-F .color-Footer div h2 {
        font-size: 16px;
        color: #fff;
        margin-bottom: 20px; }
      .container-F .color-Footer div h1 {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 20px; }
      .container-F .color-Footer div .gap-f {
        display: flex;
        text-align: center;
        justify-content: space-between; }

.img2 {
  background: url(../img/main-slider/plant-leaves-green-striped-wallpaper-preview.webp);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-out 0s; }

@media screen and (max-width: 858px) {
  .container-S-menu header ul {
    display: none; }
  .container-S-menu header span {
    display: flex; } }

/*# sourceMappingURL=style.css.map */
