@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Kanit:wght@300;700&display=swap");
* {
  margin: 0;
  padding: 0; }

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Kanit", sans-serif; }
  .container-S {
    width: 100%;
    background: url(../img/main-slider/58183300-fondo-transparente-dibujado-a-mano-doodle-de-verduras-iconos-conjunto-ilustración-vectorial-de-temporad.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    transition: all 0.2s ease-out 0s; }
    .container-S .color {
      background-color: #00000094; }
    .container-S-menu {
      margin: 0 auto;
      width: 95%;
      display: flex;
      flex-direction: column; }
      .container-S-menu header {
        padding: 15px 0;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .container-S-menu header .img {
          width: 140px;
          height: 110px;
          padding: 0;
          background: url(../img/logo.png);
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat; }
        .container-S-menu header ul {
          display: flex;
          align-items: center;
          gap: 20px; }
          .container-S-menu header ul li {
            display: flex; }
            .container-S-menu header ul li a {
              text-decoration: none;
              color: #fff;
              font-size: 15px;
              font-weight: 700; }
            .container-S-menu header ul li a:hover {
              color: #5ec79c; }
        .container-S-menu header span {
          margin: 15px;
          display: none;
          font-size: 30px;
          color: #fff;
          align-items: center;
          padding: 10px;
          height: 30px;
          background: #5ec79c;
          border-radius: 10px;
          border: 2px solid #5ec79c;
          transition: all 0.2s ease-out 0s; }
        .container-S-menu header span:hover {
          background: none; }
      .container-S-menu div {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        text-align: center;
        padding: 170px 0;
        transition: all 0.2s ease-out 0s; }
        .container-S-menu div img {
          width: 64px;
          height: auto; }
        .container-S-menu div h1 {
          font-family: "Dancing Script", cursive;
          font-weight: 700;
          font-size: 43px;
          color: #fff; }
        .container-S-menu div div {
          display: flex;
          gap: 1%;
          padding: 10px 0;
          flex-direction: row;
          justify-content: center;
          font-family: "Kanit", sans-serif; }
          .container-S-menu div div a:nth-child(2) {
            text-decoration: none;
            padding: 8px 30px;
            color: #fff;
            font-size: 15px;
            background: #f5b062;
            border-radius: 25px;
            font-weight: 700;
            border: 2px solid #f5b062;
            transition: all 0.2s ease-out 0s; }
          .container-S-menu div div a:nth-child(2):hover {
            background: none;
            color: #f5b062; }
          .container-S-menu div div a:nth-child(3) {
            background: none;
            border: 2px solid #fff;
            color: #fff;
            padding: 8px 30px;
            text-decoration: none;
            font-size: 15px;
            border-radius: 25px;
            font-weight: 700;
            transition: all 0.2s ease-out 0s; }
          .container-S-menu div div a:nth-child(3):hover {
            color: #f5b062;
            background: #fff; }
          .container-S-menu div div span {
            cursor: pointer;
            display: flex;
            padding: 8px 8px;
            border-radius: 50%;
            color: #fff;
            background-color: #5ec79c;
            border: 2px solid #5ec79c;
            transition: all 0.2s ease-out 0s; }
          .container-S-menu div div span:hover {
            background: none;
            color: #5ec79c; }
      .container-S-menu .top-md:hover .btn {
        display: flex; }
  .container-I {
    width: 100%; }
    .container-I .color-I {
      width: 100%;
      background-color: #c1c1c194; }
    .container-I-If {
      padding: 110px 0px 30px;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      width: 80%;
      justify-content: center;
      align-items: center;
      text-align: center; }
      .container-I-If .container-logo {
        width: 100%; }
        .container-I-If .container-logo h1 {
          font-family: "Dancing Script", cursive;
          font-size: 30px;
          padding: 5px 0; }
        .container-I-If .container-logo div {
          margin: 0 auto;
          width: 50px;
          height: 3px;
          background: #5ec79c;
          border-radius: 25px; }
      .container-I-If .container-img {
        padding: 50px 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; }
        .container-I-If .container-img .container-info-CSS {
          width: 359px;
          padding-bottom: 10px; }
          .container-I-If .container-img .container-info-CSS .color-fondo {
            background: #000;
            height: 151px;
            width: 151px;
            filter: blur(10px);
            position: relative;
            z-index: -1; }
          .container-I-If .container-img .container-info-CSS .img-regiones {
            background: url(../img/regiones/costa.jpg);
            background-position: center;
            background-size: cover;
            margin: 0 auto;
            width: 150px;
            height: 150px;
            z-index: 10;
            border-radius: 25px; }
          .container-I-If .container-img .container-info-CSS .img-sierra {
            background: url(../img/regiones/cierra.jpg); }
          .container-I-If .container-img .container-info-CSS .img-selva {
            background: url(../img/regiones/selva.jpg); }
          .container-I-If .container-img .container-info-CSS h1 {
            font-size: 25px;
            font-weight: 300; }
          .container-I-If .container-img .container-info-CSS a {
            text-decoration: none;
            color: #000; }
          .container-I-If .container-img .container-info-CSS p {
            padding: 10px 0px 10px;
            font-size: 15px; }
          .container-I-If .container-img .container-info-CSS a:hover {
            color: #5ec79c; }
      .container-I-If .container-img-2 {
        padding: 50px 0;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        gap: 10px; }
        .container-I-If .container-img-2 .img-1-G {
          width: 49%;
          height: 410px; }
          .container-I-If .container-img-2 .img-1-G .img-G-color {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center; }
        .container-I-If .container-img-2 .img-1-G-2 {
          width: 49%;
          height: 410px;
          display: grid;
          grid-template-columns: repeat(2, 49%);
          grid-template-rows: repeat(2, 200px);
          gap: 10px; }
          .container-I-If .container-img-2 .img-1-G-2 .img-G-color-2 {
            display: flex;
            align-items: center;
            justify-content: center; }
        .container-I-If .container-img-2 .color-G,
        .container-I-If .container-img-2 .color-G-2,
        .container-I-If .container-img-2 .color-G-3,
        .container-I-If .container-img-2 .color-G-4,
        .container-I-If .container-img-2 .color-G-5 {
          width: 95%;
          height: 95%;
          opacity: 0;
          align-items: center;
          justify-content: center;
          background-color: #000000a8;
          transition: all 700ms ease;
          -webkit-transform: scale(0.5, 0.5) rotate(360deg); }
        .container-I-If .container-img-2 .c-img1:hover .color-G,
        .container-I-If .container-img-2 .c-img1:hover .color-G-2,
        .container-I-If .container-img-2 .c-img1:hover .color-G-3,
        .container-I-If .container-img-2 .c-img1:hover .color-G-4,
        .container-I-If .container-img-2 .c-img1:hover .color-G-5,
        .container-I-If .container-img-2 .c-img2:hover .color-G,
        .container-I-If .container-img-2 .c-img2:hover .color-G-2,
        .container-I-If .container-img-2 .c-img2:hover .color-G-3,
        .container-I-If .container-img-2 .c-img2:hover .color-G-4,
        .container-I-If .container-img-2 .c-img2:hover .color-G-5,
        .container-I-If .container-img-2 .c-img3:hover .color-G,
        .container-I-If .container-img-2 .c-img3:hover .color-G-2,
        .container-I-If .container-img-2 .c-img3:hover .color-G-3,
        .container-I-If .container-img-2 .c-img3:hover .color-G-4,
        .container-I-If .container-img-2 .c-img3:hover .color-G-5,
        .container-I-If .container-img-2 .c-img4:hover .color-G,
        .container-I-If .container-img-2 .c-img4:hover .color-G-2,
        .container-I-If .container-img-2 .c-img4:hover .color-G-3,
        .container-I-If .container-img-2 .c-img4:hover .color-G-4,
        .container-I-If .container-img-2 .c-img4:hover .color-G-5,
        .container-I-If .container-img-2 .c-img5:hover .color-G,
        .container-I-If .container-img-2 .c-img5:hover .color-G-2,
        .container-I-If .container-img-2 .c-img5:hover .color-G-3,
        .container-I-If .container-img-2 .c-img5:hover .color-G-4,
        .container-I-If .container-img-2 .c-img5:hover .color-G-5 {
          opacity: 1;
          display: flex;
          -webkit-transition: all 700ms ease;
          -webkit-transform: scale(0.99, 0.99) rotate(0deg); }
        .container-I-If .container-img-2 .c-img1:hover .btn-icon,
        .container-I-If .container-img-2 .c-img2:hover .btn-icon,
        .container-I-If .container-img-2 .c-img3:hover .btn-icon,
        .container-I-If .container-img-2 .c-img4:hover .btn-icon,
        .container-I-If .container-img-2 .c-img5:hover .btn-icon {
          display: flex; }
        .container-I-If .container-img-2 .btn-icon {
          display: none;
          font-size: 20px;
          border: 1px solid #fff;
          padding: 10px;
          margin-right: 10px;
          color: #fff;
          transition: all 0.2s ease-out 0s; }
        .container-I-If .container-img-2 .btn-icon:hover {
          border: 1px solid #f5b062;
          color: #f5b062; }
  .container-IF {
    width: 100%; }
    .container-IF .color-I {
      width: 95%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap; }
      .container-IF .color-I .container-3D {
        width: 33.3%;
        position: relative;
        height: 100px;
        padding: 50px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-30deg) skew(25deg) scale(0.5); }
        .container-IF .color-I .container-3D img {
          position: absolute;
          width: 70%;
          transition: all 0.2s ease-out 0s; }
      .container-IF .color-I .container-3D:hover img:nth-child(5) {
        transform: translate(160px, -160px);
        opacity: 1; }
      .container-IF .color-I .container-3D:hover img:nth-child(4) {
        transform: translate(120px, -120px);
        opacity: 0.8; }
      .container-IF .color-I .container-3D:hover img:nth-child(3) {
        transform: translate(80px, -80px);
        opacity: 0.6; }
      .container-IF .color-I .container-3D:hover img:nth-child(2) {
        transform: translate(40px, -40px);
        opacity: 0.4; }
      .container-IF .color-I .container-3D:hover img:nth-child(1) {
        opacity: 0.2; }
  .container-F {
    width: 100%;
    background: #333333; }
    .container-F .color-Footer {
      padding: 50px 0;
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      gap: 7px;
      justify-content: center; }
      .container-F .color-Footer div {
        padding: 10px 0px;
        width: 400px;
        display: flex;
        flex-direction: column; }
        .container-F .color-Footer div h1 {
          font-size: 16px;
          color: #fff;
          margin-bottom: 20px; }
        .container-F .color-Footer div p {
          font-weight: 300;
          color: #fff;
          margin-bottom: 20px; }
        .container-F .color-Footer div div {
          width: 100%;
          display: flex;
          flex-direction: row;
          align-items: center; }
          .container-F .color-Footer div div p {
            width: 80%;
            margin: 0; }
            .container-F .color-Footer div div p input {
              padding: 12.5px 10% 12.5px 20px;
              background: #00000030;
              border: none;
              width: 100%;
              font-family: "Kanit", sans-serif;
              color: #fff; }
          .container-F .color-Footer div div a {
            padding: 10.5px 20px 10.5px 20px;
            color: #fff;
            text-decoration: none;
            background-color: #5ec79c; }
        .container-F .color-Footer div .social-F {
          margin: 0 auto;
          display: flex;
          justify-content: center;
          gap: 20px; }
          .container-F .color-Footer div .social-F span {
            cursor: pointer;
            border-radius: 50%;
            background: #f5b062;
            color: #fff;
            font-size: 20px;
            padding: 10px 10px;
            border: 2px solid #f5b062;
            transition: all 0.2s ease-out 0s; }
          .container-F .color-Footer div .social-F span:hover {
            background: none;
            color: #f5b062; }
      .container-F .color-Footer .img-F {
        display: flex;
        justify-content: center;
        align-items: center; }
        .container-F .color-Footer .img-F img {
          width: 250px !important;
          height: auto; }
      .container-F .color-Footer div h2 {
        font-size: 16px;
        color: #fff;
        margin-bottom: 20px; }
      .container-F .color-Footer div h1 {
        font-size: 16px;
        font-weight: 300;
        color: #fff;
        margin-bottom: 20px; }
      .container-F .color-Footer div .gap-f {
        display: flex;
        text-align: center;
        justify-content: space-between; }

.img2 {
  background: url(../img/main-slider/plant-leaves-green-striped-wallpaper-preview.webp);
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  transition: all 0.2s ease-out 0s; }

.c-img1 {
  background: url(../img/frutas-vegetales/cerezas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.c-img2 {
  background: url(../img/frutas-vegetales/fresas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.c-img3 {
  background: url(../img/frutas-vegetales/sandia.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.c-img4 {
  background: url(../img/frutas-vegetales/tomates.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.c-img5 {
  background: url(../img/frutas-vegetales/uvas.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

body::-webkit-scrollbar {
  width: 10px;
  transition: all 0.2s ease-out 0s; }

body::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, #f5b062d8, #5ec79c);
  border-radius: 5px; }

@media screen and (max-width: 858px) {
  .container-S {
    background-size: auto; }
    .container-S .container-S-menu header ul {
      display: none; }
    .container-S .container-S-menu header span {
      display: flex; }
    .container-S .container-S-menu .top-md {
      padding: 85px 0; }
      .container-S .container-S-menu .top-md div a:nth-child(2) {
        padding: 8px 16px; }
      .container-S .container-S-menu .top-md div a:nth-child(3) {
        padding: 8px 16px; }

  .img-1-G {
    width: 100% !important; }

  .img-1-G-2 {
    width: 100% !important; } }
@media screen and (max-width: 340px) {
  .top-md div a {
    font-size: 12px !important; }

  .container-info-CSS {
    width: 320px !important; }

  .gap-f h1 {
    font-size: 14px !important; } }

/*# sourceMappingURL=style.css.map */
